<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description or site.description }}">
    <meta name="theme-color" content="#F7FFF6" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#010A00" media="(prefers-color-scheme: dark)">
    <title>{{ title }} | {{ site.name }}</title>
    <link rel="icon" href="/assets/logos/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include "partials/header.njk" %}
    {{ content | safe }}
    {% include "partials/footer.njk" %}
  </body>
</html>
